<div class="container">
  <div class="col-xs-12">
    <h3>{{ title }}</h3>
  </div>
  <hr />
  <app-formulario
  (personaCreada)="onPersonaAgregada($event)"
  ></app-formulario>
  <!-- NOTE Cuando se pulsa el botón de agregar del formulario se emite un evento hacia el componente padre (app.component) y
    lo agrega al listado de personas.
    De esta manera estamos realiando Event Binding entre componentes.-->
  <hr/>
    <app-persona
    *ngFor="let personaElemento of personas; let i = index"
    [persona]="personaElemento"
    [indice]="i"></app-persona>
</div>
